<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gnosjö Missionskyrka | {{ title }}</title>
  <link rel="stylesheet" href="/styles/main.css">
  <script src="/scripts/main.js" defer></script>

  <link rel="icon" type="image/svg+xml" href="../images/logo-full-thick.svg">
  <link rel="icon" type="image/png" sizes="32x32" href="../images/logo-full-thick-32-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../images/logo-full-thick-16-16.png">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
  {% include "header.njk" %}

  <main class="container">
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}
</body>
</html>
