<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gnosjö Missionskyrka | {{ title }}</title>
  <link rel="stylesheet" href="/styles/main.css">
  <script src="/scripts/main.js" defer></script>
</head>
<body>
  {% include "header.njk" %}

  <main class="container">
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}
</body>
</html>
