<header>
  <a href="/">
    <img src="/images/logo-full.svg"></img>
  </a>

  <nav>
    <a class="undecorated-link" href="/om-oss/">Om oss</a>
    <a class="undecorated-link" href="/predikningar/"/">Predikningar</a>
    <a class="undecorated-link" href="/medlem/"/">Medlemssida</a>
  </nav>
</header>