<header>
  <a class="logo" href="/">
    <img src="/images/logo-clipped.svg"></img>
    <h1>Gnosjö Missionskyrka</h1>
  </a>

  {% if collections.pages | length %}
    <nav>
      {% for item in collections.pages %}
        {% set menuUrl = item.url %}
        {% if item.data.title == "Utsikt" %}
          {% set menuUrl = collections.utsikt | latestUtsiktUrl %}
        {% endif %}
        <a class="undecorated-link" href="{{ menuUrl }}">{{ item.data.title }}</a>
      {% endfor %}
    </nav>
  {% endif %}
</header>