---
layout: base.njk
title: Predikningar
order: 4
---

<h1>Predikningar</h1>

{% set sermons = collections.predikningar %}

<div id="filesSection">
  {% if sermons and sermons.length > 0 %}
    <div id="filesList" class="files-list">
      {% for sermon in sermons %}
        <div class="file-item">
          <a class="undecorated-link" href="{{ sermon.url }}">
            <span>
              <b>{{ sermon.data.title if sermon.data.title else "Predikan" }}</b> • {{ sermon.data.date | isoDate }} • {{ sermon.data.speaker if sermon.data.speaker else "" }}
            </span>
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div id="noFilesMessage" class="no-files-message">
      <p>Det finns inga filer tillgängliga.</p>
    </div>
  {% endif %}
</div>
