---
layout: base.njk
title: Verksamheter
order: 2
---
{% if collections.activities | length %}
  <h1>Våra verksamheter</h1>
  <section class="activities">
      {% for item in collections.activities %}
        <a class="undecorated-link" href="{{item.url}}">
          <section>
              <h3>{{ item.data.title }}</h3>
              <p>{{ item.data.puff }}</p>
          </section>
        </a>
      {% endfor %}
  </section>
{% endif %}