---
layout: base.njk
title: Nyheter
order: 3
---
{% if collections.news | length %}
  <h1>Nyheter</h1>
  <section class="news">
    {% for item in collections.news %}
      <a class="undecorated-link" href="{{item.url}}">
        <section>
            <h2>{{ item.data.title }}</h2>
            <p>{{ item.data.puff }}</p>
        </section>
      </a>
    {% endfor %}
  </section>
{% endif %}