---
layout: base.njk
title: Nyheter
order: 3
---
{% if collections.news | length %}
  <h1>Nyheter</h1>
  <section class="news">
    {% for item in collections.news %}
      <section>
        <a href="{{item.url}}">
            <h2>{{ item.data.title }}</h2>
            <p>{{ item.data.puff }}</p>
        </a>
      </section>
    {% endfor %}
  </section>
{% endif %}