---
layout: base.njk
title: Hem
---

<div class="hero">
    <section class="content content-center">
        <h1>Välkommen till Gnosjö Missionskyrka!</h1>
        <p> Vi vill erbjuda en öppen och generös gemenskap för alla oavsett bakgrund.<br />
        Vi tror att mötet med Jesus kan göra skillnad i våra liv.</p>
    </section>
</div>

{% if collections.activities | length %}
  <div>
    <h2 class="content-center">
      <a class="undecorated-link" href="verksamheter">
        Våra verksamheter
      </a>
    </h2>
    <section class="activities">
      {% for item in collections.activities %}
        <a class="undecorated-link" href="{{item.url}}">
          <section>
              <h3>{{ item.data.title }}</h3>
              <p>{{ item.data.blurb }}</p>
          </section>
        </a>
      {% endfor %}
    </section>
  </div>
{% endif %}

{% if collections.news | length %}
  <div>
    <h2 class="content-center">
      <a class="undecorated-link" href="nyheter">
        Nyheter
      </a>
    </h2>
    <section class="news">
      {% for item in collections.news %}
        <a class="undecorated-link" href="{{item.url}}">
          <section>
            <h3>{{ item.data.title }}</h3>
            <p>{{ item.data.blurb }}</p>
          </section>
          {% if item.data.img %}
            <img src="/images/{{ item.data.img }}" />
          {% endif %}
        </a>
      {% endfor %}
    </section>
  </div>
{% endif %}