---
layout: news.njk
title: Kontakta oss
order: 1
---

Gnosjö Missionskyrka vill vara en öppen kyrka – en kyrka för dig! Har du frågor kring vad vår kyrka står för, så hör av dig.
Du kanske funderar kring vår verksamhet, vill vara med i t.ex. någon sång- eller smågrupp. Slå gärna en signal.
Att vara människa är att brottas med livsfrågor. Vill du bolla dina funderingar och reflektioner med någon, så vet att våra pastorer
gärna sitter ner och pratar med dig. Dina frågor är viktiga.
Pastorerna har tystnadsplikt och du kan också under biktens form få föra ditt samtal. Adresser och telefonnummer finns nedan.

<br /><br />
<b>Adress:</b><br />
Järnvägsgatan 26<br />
335 30 Gnosjö<br />

<br />
<b>Tel:</b> 0370 – 928 70
 
<br /><br />
<b>Bankuppgifter:</b><br />
Konto (Swedbank): 8417-8 14 715 427-2<br />
Swish: 123 198 38 73<br />
Bankgiro: 493-0731<br />

<br />
<b>E-post:</b><br />
» Andreas Grumsén, pastor: <a href="mailto:andreas@gnosjomk.se" class="undecorated-link">andreas@gnosjomk.se</a><br />
» Hannes Lindström, ungdomsledare: <a href="mailto:hannes@gnosjomk.se" class="undecorated-link">hannes@gnosjomk.se</a><br />

<br />
» Ekonomigruppen: <a href="mailto:ekonomi@gnosjomk.se" class="undecorated-link">ekonomi@gnosjomk.se</a><br />
» Ljudgruppen: <a href="mailto:ljudet@gnosjomk.se" class="undecorated-link">ljudet@gnosjomk.se</a><br />
 
<br />
<b>Redaktion hemsida:</b><br />
» Lars-Erik Stacke: <a href="mailto:larserik.stacke@gmail.com" class="undecorated-link">larserik.stacke@gmail.com</a><br />
» Evelina Ekros: <a href="mailto:velinaekros@hotmail.com" class="undecorated-link">evelinaekros@hotmail.com</a><br />


<a href="uthyrning"><h3>Uthyrning</h3></a>
<a href="ge-en-gava"><h3>Ge en gåva</h3></a>
<a href="gnosjo-hjalper"><h3>Gnosjö Hjälper</h3></a>