---
layout: base.njk
title: Utsikt
order: 4
---

<h1>Utsikt</h1>

<div id="filesSection">
  {% if collections.utsikt and collections.utsikt.length > 0 %}
    <table class="file-table">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Nummer</th>
        </tr>
      </thead>
      <tbody id="filesList">
        {% for issue in collections.utsikt %}
          <tr data-href="{{ issue.url }}" tabindex="0" role="link">
            <td>{{ issue.data.date | isoDate }}</td>
            <td><b>{{ issue.data.title }}</b></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div id="noFilesMessage" class="no-files-message">
      <p>Det finns inga filer tillgängliga.</p>
    </div>
  {% endif %}
</div>
