---
layout: base.njk
title: Utsikt
order: 4
---

<h1>Utsikt</h1>

<div id="filesSection">
  {% if collections.utsikt and collections.utsikt.length > 0 %}
    <div id="filesList" class="files-list">
      {% for issue in collections.utsikt %}
        <div class="file-item">
          <a class="undecorated-link" href="{{ issue.url }}">
            <span>{{ issue.data.date | isoDate }} • <b>{{ issue.data.title }}</b></span>
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div id="noFilesMessage" class="no-files-message">
      <p>Det finns inga filer tillgängliga.</p>
    </div>
  {% endif %}
</div>
